@import "partials/variables";
@import "partials/base";
@import "partials/dropdown";
@import "partials/states";
@import "partials/table";
@import "partials/tab";
@import "partials/form";
@import "partials/utilities";



.uppercase {
    text-transform: uppercase;
}

.container {
    width: 900px;
    margin: 1em auto;
}

.change-units {
    margin: 19px 0 0;
    font-size: 0.750em
}