body {
  font-family: "Lato", sans-serif;
  color: #3e3e3e;
}

h3 {
  font-size: 1.125em;
  font-style: italic;
  font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
  font-weight: 300;
  margin: 1.25em 0 0.625em;
}

h4 {
  font-size: 1em;
  font-style: italic;
  font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
  font-weight: 100;
  margin: 0.625em 0;
}

h5 {
  font-size: 0.875em;
  margin: 0.50em 0;
  font-style: italic;
  font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
}

p {
  margin: 0 0 0.625em;
}

a {
  color: #ff008a;
  text-decoration: none;
}

.dropdown-trigger:after {
  content: '';
  display: inline-block;
  background-image: url(./../assets/icons_2x.png);
  background-size: 400px 1000px;
  background-position: -156px -476px;
  width: 15px;
  height: 11px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 19em;
  padding: 5px 0;
  margin: 0;
  min-height: 240px;
  background: url(./../assets/border-75.png);
  font-family: "Lato", sans-serif;
  text-align: left;
  list-style: none;
}
.dropdown-menu .divider {
  overflow: hidden;
  height: 1px;
  margin: 9px 0;
  background: #cacaca;
}
.dropdown-menu li {
  position: relative;
  z-index: 999;
  padding: 4px 0;
}
.dropdown-menu > li > a {
  clear: both;
  display: block;
  padding: 3px 20px;
  color: #7e7e7e;
  line-height: 1.4;
  font-size: 10px;
}
.dropdown-menu:before {
  background: white;
  content: '';
  display: block;
  position: absolute;
  min-width: 99%;
  min-height: 99.3%;
  top: 1px;
  left: 1px;
}
.dropdown-menu .is-active a {
  color: #ff008a;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #ff008a;
  text-decoration: none;
}

.dropdown {
  position: relative;
  margin: 0 8px;
}
.dropdown a {
  text-decoration: none;
}
.dropdown a:focus {
  outline: none;
}
.dropdown .dropdown-trigger {
  color: #ff008a;
  position: relative;
  z-index: 999999;
}

.dropdown.is-opened {
  background: url(./../assets/border-75.png);
}
.dropdown.is-opened:before {
  content: '';
  width: 98.1%;
  height: 47px;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 9999;
  background: #fff;
}

.is-opened > .dropdown-menu,
.is-active {
  display: block;
}

.is-hidden {
  display: none;
}

table {
  margin-bottom: .7em;
  background: white;
  font-family: "Lato", sans-serif;
  border-collapse: collapse;
  border-bottom: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid white;
  white-space: nowrap;
}
table thead {
  background: #f5f5f5;
}
table th {
  font-weight: bold;
  width: 130px;
  height: 40px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  border-left: 5px solid white;
  background: #e7e7e7;
  padding: 0 1.5em;
  display: table-cell;
  font-size: 0.8em;
  color: #222;
  line-height: 1.6em;
  text-align: center;
  text-transform: uppercase;
}
table th:nth-child(n+4) {
  background: #9b9b9b;
  color: #fff;
}
table td {
  display: table-cell;
  font-size: 0.8em;
  color: #222;
  line-height: 1.6em;
  text-align: center;
  text-transform: uppercase;
  padding: 0.4em;
  border-right: 5px solid #fff;
  white-space: nowrap;
}
table td:nth-child(7n+1) {
  background: #e7e7e7;
}
table td div {
  padding: 4px 0;
}
table tr:nth-child(odd) {
  background: #f7f7f7;
}
table tr:nth-child(even) {
  background: #eeeeee;
}
table tr:nth-child(even) td:nth-child(1) {
  background: #e1e1e1;
}

.passive-highlight {
  background: #e3e3e3 !important;
  cursor: crosshair;
}

.highlight {
  background: #ff008a !important;
  cursor: crosshair;
  color: white;
}
.highlight .dropdown-trigger {
  color: white;
}

.tab-nav {
  list-style: none;
  padding: 0;
  margin: 1.250em 0;
}
.tab-nav .is-active a {
  color: #ff008a;
}
.tab-nav li {
  display: inline-block;
  margin: 0 32px 0 16px;
}
.tab-nav li a {
  text-transform: uppercase;
  line-height: 2;
  text-decoration: none;
  color: #7e7e7e;
  font-weight: 700;
  font-size: 0.750em;
}

.tab-content {
  line-height: 1.5;
}
.tab-content > div:not(.is-active) {
  display: none;
}

.container {
  max-width: 58.125em;
  margin: 1em auto;
}

.grid {
  width: 100%;
}

.column {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}
.column p {
  font-size: .875em;
  color: #7e7e7e;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

@media screen and (min-width: 48em) {
  .two-column .column {
    float: left;
    max-width: 46.6%;
  }
}
@media screen and (max-width: 48em) {
  .table-respond {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
  }

  .tab-nav li {
    display: block;
  }
}
.change-units input[type=radio] {
  display: none;
}
.change-units input[type=radio]:checked + label {
  outline: 0;
  background-position: -78px -719px;
}
.change-units input[type=radio] + label {
  display: inline-block;
  cursor: pointer;
  margin: 0 32px 0 14px;
  background-size: 400px 1000px;
  padding: 10px;
  background-position: -38px -719px;
  background-repeat: no-repeat;
  position: relative;
  background-image: url("./../assets/icons_2x.png");
}
.change-units input[type=radio] + label:after {
  content: attr(data-label);
  position: absolute;
  bottom: 6px;
  left: 19px;
}

/* 
*
* A more semantic clearfix
* named group because its usually
* a group's float you clear...
* ref: http://css-tricks.com/snippets/css/clear-fix/
*
*/
.group:after {
  content: "";
  display: table;
  clear: both;
}

/*
*
* Compass 0.12.6 doesnt allow
* parent selector with - or _
* .float {
*    &-right {
*      float:right;
*    }  
*  }
* 
* So mixin available instead
*/
.float-left {
  display: inline;
  float: left;
}

.float-right {
  display: inline;
  float: right;
}

.page-divider {
  height: 1px;
  min-width: 100%;
  background: url("./../assets/border-50.png");
  margin: 0 0 8px;
}

.page-divider-simple {
  margin: 2em 0;
  border: 1px solid #bebebe;
}

.margin-top-large {
  margin-top: 4em;
}

.center {
  text-align: center;
}

.two-column-table {
  float: left;
  margin: 0 16px;
}

.uppercase {
  text-transform: uppercase;
}

.change-units {
  margin: 24px 0 0;
  font-size: 0.75em;
}

.foot-note {
  color: #7e7e7e;
  font-size: 0.875em;
}
.foot-note a {
  font-weight: 700;
}
