body {
    font-family: $default-font-style;
    color: $grey;
}

h3 {
    font-size: 1.125em;
    font-style: italic;
    font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
    font-weight: 300;
}