body {
    font-family: $lato;
    color: $grey;
}

h3 {
    font-size: 1.125em;
    font-style: italic;
    font-family: $hoefler;
    font-weight: 300;
    margin: 1.25em 0 0.625em;
}

h4 {
    font-size: 1em;
    font-style: italic;
    font-family: $hoefler;
    font-weight: 100;
    margin: 0.625em 0;
}

h5 {
    font-size: 0.875em;
    margin: 0.50em 0;
    font-style: italic;
    font-family: $hoefler;
}

p {
    margin: 0 0 0.625em;
}

a {
    color:#ff008a;
    text-decoration: none;
}