// @mixins
@mixin arrow($width: 20px, $height: 20px, $direction: up, $color: #bf0000) {
    width: 0;
    height: 0;
    @if $direction == right {
        border-top: $height / 2 solid transparent;
        border-bottom: $height / 2 solid transparent;
        border-left: $width solid $color;
    }
    @if $direction == left {
        border-top: $height / 2 solid transparent;
        border-bottom: $height / 2 solid transparent;
        border-right: $width solid $color;
    }
    @if $direction == up {
        border-left: $width / 2 solid transparent;
        border-right: $width / 2 solid transparent;
        border-bottom: $height solid $color;
    }
    @if $direction == down {
        border-left: $width / 2 solid transparent;
        border-right: $width / 2 solid transparent;
        border-top: $height solid $color;
    }
}

.dropdown-trigger:after {
    content: '';
    display: inline-block;
    background-image: url(./../assets/icons_2x.png);
    background-size: 400px 1000px;
    background-position: -156px -476px;
    width: 15px;
    height: 11px;
}

.dropdown-container {
    position: absolute;
    background: url(./../assets/border-75.png);
    padding: 1px;
    left: 0;
    z-index: 1;
    top: 36px;
    display: none;
}

.dropdown-menu {
    position: relative;
    left: 0;
    z-index: 1000;
    min-width: 19em;
    padding: 0;
    margin: 0;
    max-height: 20em;
    background: $white;
    font-family: $lato;
    text-align: left;
    list-style: none;
    overflow-y: scroll;
    .divider {
        overflow: hidden;
        height: 1px;
        margin: 9px 0;
        background: $light-grey;
    }
    li {
        position: relative;
        z-index: 999;
        padding: 4px 0;
    }
    > li > a {
        clear: both;
        display: block;
        padding: 3px 20px;
        color: #7e7e7e;
        line-height: 1.4;
        font-size: 10px;
    }
    .is-active a {
        color: #ff008a;
    }
}

.dropdown-menu > li > a {
    &:hover,
    &:focus {
        color: #ff008a;
        text-decoration: none;
    }
}

.dropdown {
    position: relative;
    a {
        text-decoration: none;
        &:focus {
            outline: none;
        }
    }
    .dropdown-trigger {
        color: #ff008a;
        display: block;
        background: transparent;
        padding: 8px;
        position: relative;
        z-index: 1000;
    }
}

.is-opened {
    .dropdown-trigger {
        background: $white;
    }
}

.dropdown {
    &.is-opened {
        background: url(./../assets/border-75.png);
        padding: 1px 1px 0 1px;
    }
}