/* begin _grid.scss */

.container {
    // max-width: 58.125em;
    margin: 0 auto; // was 1em auto
    padding-left: 20px;
}

.grid {
    width: 100%;
}

.column {
    // padding-left: 0.9375em;
    // padding-right: 0.9375em;
    p {
        font-size: .875em;
        color: #7e7e7e;
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

/* @media screen and (min-width: 48em) {
    .two-column {
        .column {
            float: left;
            max-width: 45.6%;
        }
    }
} */

@media only screen and (min-device-width : 320px) and (max-device-width: 480px) {
  .container {
    padding-left: 0px;
  }
}

@media screen and (max-width: 36em) { /* 48em */
    .table-respond {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
    }
    .tab-nav li {
        // display: block;
    }

    div .two-column.grid.group .column {
      width: inherit !important;
      float: inherit !important;
    }

    .two-column .column {
      padding-left: 0 !important;
    }

}

/* fixes from Mitch */
.two-column .column {
  padding-left: 0.9375em;
  // padding-right: 0.9375em;
}

/* floats the image left so that it'll display the image next to the information on the right */
div .two-column.grid.group .column {
  width: 44%;
  float: left;
}

/* end _grid.scss */