.container {
    max-width: 58.125em;
    margin: 1em auto;
}

.grid {
    width: 100%;
}

.column {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    p {
        font-size: .875em;
        color: #7e7e7e;
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

@media screen and (min-width: 48em) {
    .two-column {
        .column {
            float: left;
            max-width: 45.6%;
        }
    }
}

@media screen and (max-width: 48em) {
    .table-respond {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
    }
    .tab-nav li {
        display: block;
    }

}