.tab-nav {
    list-style: none;
    padding:0;
    margin: 1.250em 0;
    .is-active a {
        color: #ff008a;
    }
    li {
        display: inline-block;
        margin: 0 32px 0 16px;
        a {
            text-transform: uppercase;
            line-height: 2;
            text-decoration: none;
            color: #7e7e7e;
            font-weight:700;
            font-size: 0.750em;
        }
    }
}

.tab-content {
    line-height: 1.5;
    > div:not(.is-active) {
        display: none;
    }
}