.tab-nav {
    list-style: none;
    padding: 0;
    margin: 1.250em 0;
    .is-active a {
        color: #ff008a;
    }
    li {
        display: inline-block;
        margin: 0 27px 0 16px;
        a {
            text-transform: uppercase;
            line-height: 2;
            text-decoration: none;
            color: #7e7e7e;
            font-weight: 700;
            font-size: 0.750em;
        }
    }
    li a:hover {
        color: #ff008a;
    }
}

.tab-content {
    line-height: 1.5;
    > div:not(.is-active) {
        display: none;
    }
}

.mobile-tab {
    display: none;
}

@media screen and (max-width: 36em) { /* 48.0625em */
    .tab-nav {
        text-align: center;
        position: relative;
        background: #fff;
        padding: 5px;
        margin: 0;
        &.is-open {
            li {
                display: block !important;
                margin: 0 37px 0 16px;
                &.is-active {
                    border-bottom: 1px solid #e7e7e7;
                }
            }
        }
        li {
            border-bottom: 1px solid #e7e7e7;
            &.is-active,
            &:last-child {
                border-bottom: none;
            }
            &:not(.is-active) {
                display: none;
            }
        }
    }
    .hand-border {
        background-image: url(./../assets/border-75.png);
        height: 100%;
        position: relative;
        padding: 1px;
        margin: 14px 0;
    }
    .mobile-tab {
        background-image: url(./../assets/icons_2x.png);
        background-size: 400px 1000px;
        background-position: -37px -477px;
        width: 15px;
        height: 11px;
        position: relative;
        color: #e7e7e7;
        right: 34px;
        top: 10px; /* originally 12px */
        cursor: pointer;
        z-index: 9999;
        display: block;
        float: right;
    }

  /* moves the measurement information up so that it's flush with the image on mobile */
  .margin-top-large {
    margin-top: 2em !important;
  }

}