/* 
*
* A more semantic clearfix
* named group because its usually
* a group's float you clear...
* ref: http://css-tricks.com/snippets/css/clear-fix/
*
*/
.group {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/*
*
* Compass 0.12.6 doesnt allow
* parent selector with - or _
* .float {
*    &-right {
*      float:right;
*    }  
*  }
* 
* So mixin available instead
*/

@mixin float($direction: left) {
    .float-#{$direction} {
        display: inline;
        float: $direction;
    }
}

@include float();
@include float(right);

.page-divider {
    height: 1px;
    min-width: 100%;
    background: url("./../assets/border-50.png");
    margin: 0 0 8px;
}

.margin-top-large {
    margin-top: 2em !important;
}

.two-column {
    float: left;
    margin: 0 1.3em;
}