// @variables
$white: #ffffff;
$dropdown-min-width: 160px;
$default-font-size: 14px;
$max: 100%;
$grey: #3e3e3e;
$dark-grey: darken($grey, 15%);
$light-grey: lighten($grey, 55%);
$default-font-style: 'Lato', sans-serif;