// @variables
$white: #ffffff;
$pink: #ff008a;
$dropdown-min-width: 160px;
$default-font-size: 14px;
$max: 100%;
$grey: #3e3e3e;
$dark-grey: darken($grey, 15%);
$light-grey: lighten($grey, 55%);
$lato: 'Lato', sans-serif;
$hoefler: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;