<div class="wrap">
    <p>Dresses &amp; Slips</p>
    {{> dressesSlips }}
    <p>Tops &amp; Camis</p>
    {{> topsCamis }}
    <p>Bottoms</p>
    {{> bottoms }}
    <p>Swim</p>
    {{> swim }}
    <p>Shoes</p>
    {{> shoes }}
    <p>Intimates</p>
    {{> intimates }}
</div>