<form class="change-units" data-action="change-units">
    <input id="inches" class="change-units--radio" type="radio" name="units" value="inches" checked>
    <label for="inches" data-label="Inches"></label>
    <input id="centimeters" class="change-units--radio" type="radio" name="units" value="cm">
    <label for="centimeters" data-label="Centimeters"></label>
</form>